button {
    height: 30px;
    width: 30px;
    outline: none;
  }
  body{
    width:500px;
  }
  .titleDiv{
    height: 46px;
    padding-top: 80px;
    color: rgb(0, 0, 0);
    line-height: 19px;
  }
  .titleURL{
      padding-top:30px;
  }
  .container{
    min-height:596px;
    max-height:596px;
    padding:0px !important;
  }
  .top-container{
      min-height:200px;
      max-height:200px;
      background-color:rgb(192, 192, 192);
      text-align:center;
  }

  .body-container{
      min-height:400px;
      max-height:400px;
  }

  .chart-container{
      min-height:200px;
      max-height:200px;
      display: flex;
      justify-content: center;
  }

  .chart-inner-container{
    align-self: center;
    width:80%;
    margin:auto;
  }

  .info-container{
      min-height:200px;
      max-height:200px;
      display: flex;
      justify-content: center;
      padding: 20px 0px;
  }

  .info-inner-container{
    align-self: center;
    width:80%;
    margin:auto;
  }


  .titleDiv span{
    font-size:24px;
  }
  div{
      padding:0px;
  }
.individualStatus{
    display:inline-block;
    /* width:calc(50% - 22px); */
}
.circleGraph{
    border: 4px solid gray;
    border-radius: 1000px;
    padding: 20px !important;
    display: block;
    width: fit-content;
}
.circlePerc{
    font-size: 15px;
}
.circleText{
    text-align: center;
}
.section1{
    max-height:300px;
    /* overflow:auto; */
}
.section2{
    max-height:300px;
    /* overflow:auto; */
}
.section3,.section4{
    max-height:100px;
    /* overflow:auto; */
}
.section4{
    background-color: white;
    color: gray;
    text-align: center;
    font-size: 75%;
    position: sticky;
    bottom: 0;
    width: 100%;
}
.fdIndividual{
    padding: 5px 0px !important;
}
.statusColor{
    text-align: center;
    color: green;
    font-weight: 700;
}
.custom-button{
    color:#15c39a;
}
.fdStatus{
    color:green;
    font-weight:700;
}

.error-text{
    color:red;
}
.safe{
    color:green;
    font-weight: 700;
}
.warning{
    color:#c8c841;
    font-weight: 700;
}
.caution{
    color:red;
    font-weight: 700;
}
.bgSafe{
    color:black !important;
    font-weight: 700;
    background-color: #2d892d;
}
.bgWarning{
    background-color:#c8c841;
    color:black !important;
    font-weight: 700;
}
.bgCaution{
    background-color: #cd5656;
    color:black !important;
    font-weight: 700;
}
.safeIcon{
    background-image: url(images/safeIcon.png);
}
.cautionIcon{
    background-image: url(images/cautionIcon.png);
}
.warningIcon{
    background-image: url(images/warningIcon.png);
}
.statusIcon{
    width:18px;
}

.chart{
    /* width:33%; */
    width:100%;
    float:left;
    margin:auto;
    display: flex;
    justify-content: center;
}

.circle{
    background-color:#c0c0c0;
    border-radius:200px;
    padding:50px;
    align-self: center;
    font-size: 0.6rem;
}

.info-block{
    padding:0px 18px 10px 18px;
    font-size:12px;
    /* display:none; */
}
.info-block {
    margin-left: 5px;
}
.info-title-text{
    padding-left:5px;
}